*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: white;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: -30px;
}
.navbar a{
   display: inline-block;
   font-size: 25px;
   color: white;
   text-decoration: none;
   margin-left: 35px;
   transition: .3s;
}
.navbar a:hover{
    color: skyblue;

}
@media(max-width: 650px){
    .navbar a{
        font-size: 20px;
        margin-left: 0px;
        justify-content: space-between;
    }
    img{
        
    }
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/09/8b/02/098b02b3138104e753440a7655ac38d5.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10%;
    
}
.home-content{
   margin-top: 100px;
}
img{
    border-radius: 50%;
    transform: translate(350%,-70%);
}
