*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: white;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: -30px;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
   display: inline-block;
   font-size: 25px;
   color: white;
   text-decoration: none;
   margin-left: 35px;
   transition: .3s;
   animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color: skyblue;

}
.about-p{
    color: black;
}
.about-text{
    align-items: center;
    text-align: center;
}
.about{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;

}

.span-about{
   color: aqua;
   font-size: 30px;
}

.about-h1{
    color: black;
    transition: 3s ease-in-out;
    font-size: 30px;
    text-decoration: underline;
}
.table-about{
    color: black;
    
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    border: 2px solid aqua;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    border: 1px solid;
  }
  
.about-my{
    color: black;
    font-size: 25px;
    margin-top: 5px;
}
.about li{
    font-size: 25px;
}
.about-h2{
    color: black;
    margin-top: 20px;
}
@media(max-width: 650px){
    .navbar a{
        font-size: 20px;
        margin-left: 0px;
        justify-content: space-between;
        
    }
    .home-content{
        transform: translateY(-9%);
    }
    .home-img{
       display: none;
    }
    table{
        margin-left: 20px;
    }
    .about-img1{
        transform: translateX(7%);
    }

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/09/8b/02/098b02b3138104e753440a7655ac38d5.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10%;
    
}
.home-content{
   margin-top: 180px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h3 span{
    color: skyblue;
    transition: ease-in-out 2s;
    
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}
.home-img{
    border-radius: 50%;
    transform: translate(350%,-140%);
    border: 2px solid skyblue;
}
.home-content p{
    font-size: 20px;
    margin-top: 20px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid skyblue;
    border-radius: 50%;
    font-size: 20px;
    color: skyblue;
    text-decoration: none;
    margin:30px 15px 10px 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:calc(.2s*var(--i)) ;
}
.home-sci a:hover{
    background: skyblue;
    color: black;
    box-shadow: 0 0 20px skyblue;
}
button{
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background: skyblue;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background: skyblue;
    color: black;
    box-shadow: 0 0 20px skyblue;
}
.about-img1{
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    border: 3px solid black;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }

}